@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #2e948a;
}
.container-header{
    margin: 20px 0 20px 82px;
}
.navegacao{
    padding: 50px;
}
.menu-navegacao-link{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 20px;
}