@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}
/* header */
.container-header {
  background-color:#2E948A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.logo {
    margin: 2% 5%;
}
.container-header nav{
  text-align: right;
  margin-right: 5%;
}
.navegacao-item{
  display: inline;
}
.navegacao-item-link{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 20px;
}